# We have 2 machines, machine 2 is new. The objective is to compare the pressure yield between different samples (Using T Value Method) Higher pressure yield signifys a better sealed cup to protect agains damages when dropping.
t - value = (sigmal/noise) = (Difference between the means/variability of group)
formula = [X1-X2]/sqrt((s1^2/n1)/(s2^2/n2))

# T test is applied when 
 population standard deviation is not available 
 n is less than 30

In [45]:
import pandas as pd
import numpy as np
import math
from scipy.stats import ttest_ind

In [46]:
# im porting data set of two different machines presure per cup at sealing time

df=pd.read_csv('machine2.csv')

In [47]:
df.head()

         M1        M2
0  4.889976  4.572928
1  4.799092  4.947915
2  4.816690  4.393495
3  4.975921  4.740863
4  4.935760  4.470380

In [48]:
M1_mean = np.mean(df.M1)
M2_mean = np.mean(df.M2)

print(" Mean value of Machine 1 is {0} \n Mean value of Machine 2 is {1} ".format(M1_mean,M2_mean))

 Mean value of Machine 1 is 4.688968957777778
 Mean value of Machine 2 is 4.660185722055555

In [49]:
M1_std = np.std(df.M1)
M2_std = np.std(df.M2)

print(" Standard deviation of Machine 1 is {0} \n Standard deviation of Machine 2 is {1} ".format(M1_std,M2_std))

 Standard deviation of Machine 1 is 0.28054224252113125
 Standard deviation of Machine 2 is 0.32158838062735556

In [50]:
M1_var = M1_std*M1_std
M2_var = M2_std*M2_std
print(" Variance of Machine 1 is {0} \n Variance of Machine 2 is {1} ".format(M1_var,M2_var))

 Variance of Machine 1 is 0.07870394983878522
 Variance of Machine 2 is 0.10341908655452492

In [51]:
n1=len(df.M1)
n2=len(df.M2)

In [52]:
t_value = abs(M1_mean-M2_mean)/math.sqrt((M1_var/n1)+(M2_var/n2))
print("T - value is ", t_value)

T - value is  0.28614978620552217

H0 (Null hypothesis) - No statistical difference between the samples
H1 (Alternative hypothesis) - Exists a statistical difference between the samples

If our t-value is less than critical -- fail to reject the null hypothesis
If our t-value is more than critical -- reject the null hypothesis.

# Finding the critical value
1) refer table for DF at rows and columns as significance (P value)

In our case we have 19 data points, 2 variable. So df is 19-2-17.
Mostly used/ tested significance is .05 our case is two tailed and critical value is 2.093
Calculated T value is .2861497 which is less than so fail to rejet null hypothesis.

Conclusion
"There is no significant difference between machines"
The new machine shows no significant increase in pressure yield which means no significant protection when cup is dropped.
If we were to buy 10 more machines we would buy older model that is similar to machine 1 which is less expensive and has similar protective properites.