In [1]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
pwd

'C:\\Users\\blake\\Python Learning Data Science\\Exercise file'

In [3]:
cd C:\Users\blake\Python Learning Data Science\Exercise file

C:\Users\blake\Python Learning Data Science\Exercise file

In [5]:
cask = pd.read_csv('cask1.csv')

In [6]:
cask

,Product,Mass,Diameter,Length,Time,Cost,Temperature,Quantity,Quality
0,Product 1,0.5400,2.56,2.1,10.0,2000,110,1000,5
1,Product 2,0.5300,2.56,2.1,9.0,1900,110,1000,4
2,Product 3,0.5400,2.56,2.1,4.0,1000,110,1000,5
3,Product 4,0.5400,2.56,2.1,8.0,1800,110,1000,3
4,Product 5,0.5400,2.56,2.1,7.0,1700,110,1000,4
5,Product 6,0.5254,2.56,2.1,3.5,700,110,1000,5
6,Product 7,0.5400,2.56,2.1,5.5,1100,110,1000,4
7,Product 8,0.5100,2.56,2.1,7.5,1750,110,1000,5
8,Product 9,0.5000,2.56,2.1,8.0,1800,110,1000,5
9,Product 10,0.5400,2.56,2.1,10.0,2000,110,1000,5

In [8]:

cask = pd.read_csv('cask1.csv', usecols=[0,1,2,3])

In [9]:
cask

    Product      Mass  Diameter  Length
0   Product 1  0.5400      2.56     2.1
1   Product 2  0.5300      2.56     2.1
2   Product 3  0.5400      2.56     2.1
3   Product 4  0.5400      2.56     2.1
4   Product 5  0.5400      2.56     2.1
5   Product 6  0.5254      2.56     2.1
6   Product 7  0.5400      2.56     2.1
7   Product 8  0.5100      2.56     2.1
8   Product 9  0.5000      2.56     2.1
9  Product 10  0.5400      2.56     2.1

In [10]:
cask['Mass'] # selecting just the Mass column

0    0.5400
1    0.5300
2    0.5400
3    0.5400
4    0.5400
5    0.5254
6    0.5400
7    0.5100
8    0.5000
9    0.5400
Name: Mass, dtype: float64

In [11]:
cask.Mass # same thing different method

0    0.5400
1    0.5300
2    0.5400
3    0.5400
4    0.5400
5    0.5254
6    0.5400
7    0.5100
8    0.5000
9    0.5400
Name: Mass, dtype: float64

In [12]:
cask.index

RangeIndex(start=0, stop=10, step=1)

In [20]:
cask.columns

Index(['Product  ', 'Mass', 'Diameter', 'Length'], dtype='object')

In [21]:
cask.info

<bound method DataFrame.info of     Product      Mass  Diameter  Length
0   Product 1  0.5400      2.56     2.1
1   Product 2  0.5300      2.56     2.1
2   Product 3  0.5400      2.56     2.1
3   Product 4  0.5400      2.56     2.1
4   Product 5  0.5400      2.56     2.1
5   Product 6  0.5254      2.56     2.1
6   Product 7  0.5400      2.56     2.1
7   Product 8  0.5100      2.56     2.1
8   Product 9  0.5000      2.56     2.1
9  Product 10  0.5400      2.56     2.1>

In [23]:
cask.min

<bound method DataFrame.min of     Product      Mass  Diameter  Length
0   Product 1  0.5400      2.56     2.1
1   Product 2  0.5300      2.56     2.1
2   Product 3  0.5400      2.56     2.1
3   Product 4  0.5400      2.56     2.1
4   Product 5  0.5400      2.56     2.1
5   Product 6  0.5254      2.56     2.1
6   Product 7  0.5400      2.56     2.1
7   Product 8  0.5100      2.56     2.1
8   Product 9  0.5000      2.56     2.1
9  Product 10  0.5400      2.56     2.1>

In [24]:
cask.max

<bound method DataFrame.max of     Product      Mass  Diameter  Length
0   Product 1  0.5400      2.56     2.1
1   Product 2  0.5300      2.56     2.1
2   Product 3  0.5400      2.56     2.1
3   Product 4  0.5400      2.56     2.1
4   Product 5  0.5400      2.56     2.1
5   Product 6  0.5254      2.56     2.1
6   Product 7  0.5400      2.56     2.1
7   Product 8  0.5100      2.56     2.1
8   Product 9  0.5000      2.56     2.1
9  Product 10  0.5400      2.56     2.1>

In [25]:
cask.mean() # gives the mean of each column

Mass        0.53054
Diameter    2.56000
Length      2.10000
dtype: float64

In [26]:
cask.var(ddof=0) # givies the variance of a column

Mass        1.918244e-04
Diameter    1.972152e-31
Length      1.972152e-31
dtype: float64

In [29]:
cask.quantile([0.25,0.75]) # gives 25th quantile and 75th quantile

         Mass  Diameter  Length
0.25  0.52655      2.56     2.1
0.75  0.54000      2.56     2.1

In [30]:
cask.quantile([.5]) # this is the median

     Mass  Diameter  Length
0.5  0.54      2.56     2.1

In [32]:
scipy.stats.percentileofscore(cask.Mass,25) # gives percentile of score but not for this small of number

NameError: name 'scipy' is not defined

In [33]:
cask.describe() # this gives alot of different statistics about our data!

            Mass      Diameter        Length
count  10.000000  1.000000e+01  1.000000e+01
mean    0.530540  2.560000e+00  2.100000e+00
std     0.014599  4.681111e-16  4.681111e-16
min     0.500000  2.560000e+00  2.100000e+00
25%     0.526550  2.560000e+00  2.100000e+00
50%     0.540000  2.560000e+00  2.100000e+00
75%     0.540000  2.560000e+00  2.100000e+00
max     0.540000  2.560000e+00  2.100000e+00